.links{
    background-color: #ffffff;
    padding: 40px 20px;
    color: #666666;
    font-size: 14px;
    min-height: 700px;
}
.cardBox{
    margin-top: 20px;
    display: flex;
}
.friendCard{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    padding: 10px 15px;
    text-shadow: 1px 1px 2px #eeeeee;
    color: #fff;
    // background: no-repeat center url('../../static/banner-bg/banner.jpg');
    // background-size: 100% 100%;
    background-color: #dddddd;
    font-size: 14px;
    text-align: center;
    filter: hue-rotate(60deg);
    transition: all 500ms cubic-bezier(.19,1,.22,1);
    
}
.friendCard:hover{
    font-size: 12px;
    filter: hue-rotate(0);
    box-shadow: 0px -50px 50px rgba(181,181,181,.7) inset;
}
.friendCard h5{
    font-size: 14px;
    margin-top: 100px;
    transition: all 500ms cubic-bezier(.19,1,.22,1);
}
.friendCard:hover h5{
    font-size: 12px;
    margin-top: 150px;
}